<section>
	<%= form_for ([@trip, @place, @journal_entry]) do |form| %>
	<%= form.text_field :title, :placeholder => 'journal entry title' %>
	<%= form.text_area :post, :placeholder => 'journal entry' %>
	<%= form.submit "Submit Journal Entry" %>
	<% end %>
</section>

<p>hello</p>  