<article class="base-modal">
  <section class="journal_post">
    	<section class="journal_post_title">
    		<h2><%= @journal_entry.title %></h1>
    	</section>
    	<section class="journal_post_content">
    <p><%= @journal_entry.post %></p>
    	</section>
    </section>
</article>


