<article>
    <header>
      <h1>Awesome!</h1>
      <h2>a journal entry was created...</h2>
    </header>
<section>
    <article>
    <h1><%= @journal_entry.title %></h1>
    <p><%= @journal_entry.post %></p>
    </article>
</section>
</article>


