<article>
    <header>
      <h1>Awesome!</h1>
      <h2><%= @journal_entry %> was created...</h2>
    </header>
<section>
  <p><%= @journal_entry %> </p>
  <h3>all journal entries</h3>
</section>
</article>


