<section class="journal_post">
	<section class="journal_post_title">
	  <%= @journal_entry.title %>
	</section>
	<section class="journal_post_content">
    <%= @journal_entry.post %>
	</section>
</section>



