  <article class="base-modal trip-modal">
    <section class="clear-fix trip-bar">
        <%= form_for @trip do |form| %>
        <%= form.text_field :name, :placeholder => 'create a trip...' %>
        <%= form.submit "create", :class => 'btn btn-block btn-info' %>
      <% end %>
    </section>
  </article>
