<h1>TRANSPORT</h1>

<hr>

<table border="2" bgcolor="white">
			<tr>
				<td><b>Destinations</b></td>
			</tr>
	<% @linked_places.each do|place| %>
			<tr>
				<td><b><%= place %></b></td>
			</tr>
	<% end %>
</table>


<h3></h3>
<hr>

<%- link = "" %>
<%- @linked_places.each do|place| %>
<%- link = link + place + '/'%>
<%- end %>
<hr>
<a class="btn btn-info" href="http://www.rome2rio.com/s/<%= link %>" target="myIframe">click here to search for transport routes!</a>
<hr>

<div style="width: 95%px; height: 850px; overflow: hidden">
<iframe name="myIframe" style="position: relative; left: 0px; top: -100px" height="850" width="95%" hspace="10" vspace="10" align="middle">

</iframe>

</div>
<hr><hr><hr><hr>