<a class='btn btn-primary' href="https://api.instagram.com/oauth/authorize/?client_id=f3c6d901c4964e6097d14d208fa01a96&redirect_uri=http://localhost:3000/instagram/link&response_type=code">Login to Instagram</a>

<span>

  <%- search = Instagram.media_search("37.7808851","-122.3948632") %>
  <img src="<%= search.first.images.standard_resolution.url %>" />
</span>