/* styling for journal entry form */

form#new_journal_entry {
  width: 100%;
  text-align: center;
  color: solid white;
}

section.journal_entry {
  background-color: #ffffff;
}

#journal_entry_title {
  width: 100%;
  border: 2px solid #dce4ec;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
}

#journal_entry_title:hover {
  border:2px solid #2fe2bf
}

#journal_entry_post {
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-indent: 20px;
}

#journal_entry_post:hover {
  border:2px solid #2fe2bf
}

#new_journal_entry input[type="submit"] {
  margin-bottom:20px;
  float: center;
}