/* styling for journal entry form */


#new_journal_entry {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;

  #journal_entry_title {
    width: 96%;
    margin: 2%;
  }

  #journal_entry_post {
    margin: 2%;
    width: 96%;
  }

  .btn-block {
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 12px;
  }
}

.journal_post {
    float: left;
    width: 48%;
    margin: 1%;
    border-radius: 5px;
    height: 253px;
    background: url("journal-entry-background.png") center center;
    background-size: cover;

    border: dashed white 2px;

  .journal_post_title {

  }

  .journal_post_content {

  }

}
