//styles for media page//

.media-page {

  position: relative;

  .media-page-header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 40px;
    outline: 1px dotted red;

    .media-details {
      outline: 1px dotted blue;

    }

    nav {
      outline: 1px dotted green;
      height: 40px;
      width: 50%;
      float: right;
    }
  } /* end of media-page-header */


  .media-page-body {
    padding-top: 40px;
    .square-tile {
      width: 50%;
      float: left;
    } /* end of square-tile */

  } /*end of media-page-body */


} /* end of media-page */