// Base Modal //

.base-modal {
  width: 60%;
  margin: 2% 20%;
  @media (max-width: 800px) {
    background-color: rgba(0, 0, 0, 1.0);
  }
  form, input {
    margin: 3px;
  }
  section {
    border: 4px solid rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    width: 100%;
    input[type="text"] {
      text-align: left;
      width: 98%;
      padding: 20px 10px;
      font-size: 20px;
      margin:5px 0 15px 0;
      line-height: 28px;
      background: none;
    }
    
  }
}

input#searchTextField, 
input#from, 
input#to, {
  margin-left:10px;
}

.place-modal, .trip-modal {
  position: fixed;
  width: 60%;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.9);
}

.place-modal {
  margin: 100px 20%;
}

.trip-modal {
  margin: 100px 20%;
}


form#new_place label {
  margin: 10px 0 5px 10px;
}

.trip-bar {
  border: 4px solid rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  header {
    text-align: center;
    background-color: #5dade2;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    h2 {
      margin: 0;
    }
  }
  section {
    border: none;
  }
  select {
    width: 120px;
    margin-right: 10px;
    float: left;
  }
  .btn {
        float: left;
        font-size: 20px;
      }
  p {
    float: left;
    margin-right: 10px;
    vertical-align: baseline;
    margin: 0 10px 0 0;
    padding: 5px 0 0 5px;
    }
}

.trip-bar div {
  float:left;
  width:100%;
}

input#trip_name {
  display:block;
}

/* error messgages */

p.notice {
  color: #ff0000;
  margin-left: 15px;
  font-size: 15px;
}

p.clearLeft {
  clear:left;
}

.errorExplanation {
  padding: 0;
  color: #ff0000;
  margin:10px 0 0 0;
}

.errorExplanation ul {
  float:left; 
  margin-top:4px;
}

.errorExplanation p {
  display:block;
}

div.field_with_errors {
  background-color: #ffffff;
}


