// Base Modal //

.base-modal {
  text-align: center;
  width: 60%;
  margin: 2% 20%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  @media (max-width: 800px) {
    width: 80%;
    margin: 1% 10%;
    section {
      input {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 480px) {
    width: 98%;
    margin: 1% 1%;
    section {
      input {
        font-size: 14px;
      }
    }
  }
  header {
    padding: 2.5%;
    border-radius: 6px 6px 0 0;
    h1 {
    color: white;
    }
  }
  form {
    width: 100%;
  }
  input[type="text"] {
    text-align: center;
    width: 100%;
    padding: 30px;
    font-size: 20px;
    line-height: 28px;
  }
  section {
    width: 96%;
    margin: 2%;
    @media (min-width: 1100px) {
      width: 80%;
      margin: 2% 10%;
    }
    .calendar {
      width: 100%;
      margin: 2% 0%;
      @media (max-width: 680px) {
        width: 80%;
        margin: 2% 10%;
      }
      header {
        padding: 1%;
        background-color: rgba(255, 255, 255, 0.0);
        font-size: 16px;
        h2 {
          color: rgba(255, 255, 255, 1.0);
        }
      }
      section {
        width: 80%;
        margin: 0 10%;
      }
      [id*="i"] {
        height: 40px;
        background-color: rgba(26, 188, 156, 1);
        color: rgba(255, 255, 255, 1.0)
      }
      [id*="1i"] {
        float: right;
        width: 30%;
      }
      [id*="2i"] {
        float: center;
        width: 40%;
      }
      [id*="3i"] {
        float: left;
        width: 20%;
      }
    }
  }
}


.trip-modal {
  header {
    background-color: rgba(26, 188, 156, 1);
  }
}

.place-modal {
  position: fixed;
  margin: 20px 30%;
  z-index: 200;

  header {
    background-color: rgba(188, 110, 26, 1.0);
  }
}

// ================ Test Modal CSS ================ //

.test-modal {
  position: fixed;
  z-index: 200;
  left: 15%;
  top: 120px;
  width: 70%;
  .place-bar {
    width: 50%;
    margin: 0 20%;
    float: right;
    p {
      float: left;
      margin-right: 5px;
    }
    #searchTextField {
      padding: 15px 5px;
      width: 300px;
    }
    .btn {
      padding: 8px;
    }
  }
}

// ================ DRAFT CODE needs to be moved/deleted ================ //

.modal-result {
  text-align: center;
  width: 50%;
  margin: 2% 25%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}


// Trips Modal //

.new-modal {
  section {
    padding: 5%;
    width: 100%;
    .calendar {
      float: left;
      width: 40%;
      margin: 0 5%;
      padding: 0 0 5% 0;
      h2 {
        color: white;
        font-size: 20px;
      }
      select {
        width: 100%;
        margin: 5px 0;
      }
    }
    .btn {
      float: center;
      width: 20%;
      }
  }
}

// ===== Trips/New ===== //

.new-modal-result {
  header {
    h1 {
    color: white;
    }
    padding: 2.5%;
    background-color: rgba(26, 188, 156, 1);
    border-radius: 6px 6px 0 0;
  }
  section {
    padding: 5%;
    width: 100%;
    background-color: rgba(230, 126, 34, 1);
    form {
      width: 100%;
    }
    input {
      text-align: center;
      width: 100%;
      padding: 30px;
      font-size: 24px;
      line-height: 28px;
      color: rgba(26, 188, 156, 1);
    }
    .calendar {
      float: left;
      width: 40%;
      margin: 0 5%;
      padding: 0;
      h2 {
        color: white;
        font-size: 20px;
      }
      select {
        width: 100%;
        margin: 5px 0;
      }
    }
    .btn {
      float: left;
      }
  }
  .date-block {
    h2 {
      margin-bottom: 20px;
    }
    span {
      background-color: rgba(241, 196, 15, 1);
      padding: 6px;
      border-radius: 6px;
    }
  }
}




// Places Modals //