// Base Modal //

.base-modal {
  width: 60%;
  margin: 2% 20%;
  @media (max-width: 800px) {
    background-color: rgba(0, 0, 0, 1.0);
  }
  form, input {
    margin: 0;
  }
  section {
    border: 4px solid rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    width: 100%;
    input[type="text"] {
      text-align: left;
      width: 80%;
      padding: 30px;
      font-size: 20px;
      line-height: 28px;
      border: none;
      background: none;
    }

  }
}

.place-modal, .trip-modal {
  position: fixed;
  width: 60%;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.9);
}

.place-modal {
  margin: 200px 20%;
}

.trip-modal {
  margin: 100px 20%;
}

/* styling for journal entry form */

form#new_journal_entry {
  width: 100%;
  text-align: center;
  color: solid white;
}

section.journal_entry {
  background-color: #ffffff;
}

#journal_entry_title {
  width: 100%;
  border: 2px solid #dce4ec;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
}

#journal_entry_title:hover {
  border:2px solid #2fe2bf;
}

#journal_entry_post {
  width: 100%;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-indent: 20px;
} 

#journal_entry_post:hover {
  border:2px solid #2fe2bf;
}

#new_journal_entry input[type="submit"] {
  margin-bottom:20px;
  float: center;
}

.journal_post {
  background-color: #ffffff;
  border: 2px solid #A3A3C2;
}

  .journal_post_title {
  border: 4px solid rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
    h2 {
      text-align: center;
      background-color: #5dade2;
      padding: 10px;
      border-radius: 4px 4px 0 0;
      margin: 0;
      
    }
    section {
      border: none;
  }
}

h2 {
  color: #000000;
}

section.journal_post_content {
  border: 2px solid rgba(46, 204, 113,1.0);
  margin-bottom: 1px;
  margin-top:20px;
  min-height: 300px;
  padding: 10px;
}

/* Something Else */

.trip-bar {
  border: 4px solid rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  header {
    text-align: center;
    background-color: #5dade2;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    h2 {
      margin: 0;
    }
  }
  section {
    border: none;
  }
  select {
    width: 210px;
    float: left;
  }
  .btn {
        float: left;
        padding: 16px;
        font-size: 20px;
        line-height: 28px;
        margin-left: 10px;
      }
}

/* error messgages */

p.notice {
  color: #ff0000;
  margin-left: 30px;
  font-size: 20px;
}

.errorExplanation {
  padding: 10px;
  color: #ff0000;
}

div.field_with_errors {
  background-color: #ffffff;
}
