// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ===== Trips/New ===== //


.trip-titles {
  position: absolute;
  top: 20;
  left: 20;
  z-index: 1000000;
  width: 400px;
  height: 100px;
  border: 1px solid #000;
}