// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ===== Trips/New ===== //

.trip-title {
  position: fixed;
  margin: -5px 20%;
  z-index: 200;
  width: 60%;
  header {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 10px 10%;
    text-align: center;
    h1 {
      color: #fff;
      font-size: 20px;
    }
  }
}
