<span style="display: none;" id='markerData'> <%= @markerData %></span>

<header class="trip-name">
  <h1>Trip Name: <%= @trip.name %></h1>
</header>

<nav class="clear-fix trip-nav">
  <a class = "btn btn-info btn-map show_hide_trip-box"> + Trip</a>
  <a class = "btn btn-primary btn-map show_hide_place-box"> + Place</a>
</nav>

<aside>
  <%= render :template => "trips/new" %>
  <%= render :template => "places/new" %>
</aside>

<div id="map-canvas" style="width: 100%; height: 100%">
</div>

 <!-- Remember this needs google_maps_api.js to work -->