<section class="media-page">

  <header class="media-page-header">
    <section class="media-details">
      <%= @trip.name %>
      <%= @place.place %>
    </section>

    <nav>
      <a class="btn btn-primary">Add Journal Entry</a>
    </nav>
  </header>





  <section class="media-page-body">
    <article class="square-tile">
      <%= render :template => "journal_entries/new" %>
    </article>
    <article class="square-tile">
      <%= render :template => "journal_entries/show" %>
    </article>
  </section>
</section>