<!DOCTYPE html>
<html>
<head>
  <title>Journaly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="container-fluid">
  <%= yield %>
</section>

</body>
</html>
